doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title solarized-dark mode of hack.css
    link(rel="stylesheet" href="./prism.css")
    link(rel="stylesheet" href="./hack.css?t=#{time}")
    link(rel="stylesheet" href="./solarized-dark.css?t=#{time}")
    link(rel="stylesheet" href="./site.css?t=#{time}")
    link(rel="stylesheet" href="./site-dark.css?t=#{time}")
  body.hack.solarized-dark
    .main.container
      p
        a(href="/") &laquo; Back to home
      h2 Solarized Dark mode
      p Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit. Sint vero maiores quam culpa sed, dolor delectus omnis ab repellat dolorum, atque obcaecati inventore ex ratione hic numquam quia, iste necessitatibus.

      include carbon

      h2 Usage
      :marked
        ```html
        <link rel="stylesheet" href="/path/to/hack.css" />
        <link rel="stylesheet" href="/path/to/solarized-dark.css" />
        <body class="hack solarized-dark">
          ...
        </body>
        ```

      h2 Components

      include components

      script(src="./prism.js" async)
      script(src="./app.js" async)
