/**
 * Progress Bar
 */

.progress-bar {
  height: 8px;
  opacity: .8;
  background-color: #ccc;
  margin-top: 12px;
  &.progress-bar-show-percent {
    margin-top: 38px;
  }
}

.progress-bar-filled {
  background-color: #808080;
  height: 100%;
  transition: width .3s ease;
  position: relative;
  width: 0%;

  &:before {
    content: '';
    border: 6px solid transparent;
    border-top-color: #808080;
    position: absolute;
    top: -12px;
    right: -6px;
  }
  &:after {
    color: #808080;
    content: attr(data-filled);
    display: block;
    font-size: 12px;
    position: absolute;
    border: 6px solid transparent;
    top: -38px;
    right: 0;
    transform: translateX(50%);
  }
}

/**
 * Table
 */

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.75rem 0;
  color: #778087;
  & td,
  & th {
    vertical-align: top;
    border: 1px solid #ccc;
    line-height: 15px;
    padding: 10px;
  }
  & thead th {
    font-size: 10px;
  }
  & tbody td:first-child {
    font-weight: 700;
    color: #333;
  }
}

/**
 * Form
 */
.form-group {
  margin-bottom: 1.75rem;
  overflow: auto;
  & label {
    border-bottom: 2px solid #ccc;
    color: #333;
    min-width: 9rem;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0;
    float: left;
  }

  &.form-success label {
    @mixin form-label $green;
  }

  &.form-warning label {
    @mixin form-label $orange;
  }

  &.form-error label {
    @mixin form-label $red;
  }
}

.form-control {
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 8px 0;
  width: 240px;
  height: 38px;
  &:focus {
    border-bottom-color: #555;
  }
}

select.form-control {
  border-radius: 0;
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

.help-block {
  color: #999;
  margin-top: .5rem;
}

.form-actions {
  margin-bottom: 1.75rem;
}

/**
 * Buttons
 */

.btn {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #f0f0f0;
  color: #333;
  padding: 0 2rem;
  height: 33px;
  line-height: 33px;
  font-size: 1rem;
  &:active {
    box-shadow: inset 0 1px 6px rgba(0,0,0,.27);
  }
}

.btn-success {
  @mixin button $green;
}

.btn-error {
  @mixin button $red;
}

.btn-warning {
  @mixin button $orange;
}

.btn-info {
  @mixin button $cyan;
}

.btn-primary {
  @mixin button $blue;
}

.btn-dark {
  @mixin button #000;
}

/**
 * Card
 */
.card {
  border: 1px solid #ccc;
  & .card-header {
    color: #333;
    text-align: center;
    background-color: #ddd;
    padding: .5rem 0;
  }
}

/**
 * Alerts
 */
.alert {
  color: #ccc;
  padding: 1rem;
  border: 1px solid #ccc;
  margin-bottom: 1.75rem;
}

.alert-success {
  @mixin alert $green;
}

.alert-error {
  @mixin alert $red;
}

.alert-info {
  @mixin alert $cyan;
}

.alert-warning {
  @mixin alert $orange;
}

/**
 * Media
 */
.media:not(:last-child) {
  margin-bottom: calc(15/12)rem;
}

.media-left {
  display: table-cell;
  vertical-align: top;
  padding-right: 1rem;
}

.media-right {
  display: table-cell;
  vertical-align: top;
  padding-left: 1rem;
}

.media-body {
  display: table-cell;
  vertical-align: top;
}

.media-heading {
  font-size: calc(14/12)rem;
  font-weight: 700;
}

.media-content {
  margin-top: .3rem;
}

/**
 * Holders
 */
.placeholder,
.avatarholder {
  background-color: #f0f0f0;
  text-align: center;
  color: #b9b9b9;
  font-size: 1rem;
}

.avatarholder {
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &.rounded {
    border-radius: 33px;
  }
}
