/**
 * code by https://github.com/mrcoles/markdown-css
 * with some modifications
 */

.hack,
.hack h1,
.hack h2,
.hack h3,
.hack h4,
.hack h5,
.hack h6,
.hack code,
.hack blockquote,
.hack em,
.hack strong,
.hack code {
  font-size: 1rem;
  font-style: normal;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.hack code,
.hack blockquote,
.hack em,
.hack strong,
.hack code {
  line-height: 20px;
}

.hack h1,
.hack h2,
.hack h3,
.hack h4,
.hack h5,
.hack h6,
.hack code,
.hack blockquote,
.hack ol,
.hack ul,
.hack li,
.hack p,
.hack section,
.hack header,
.hack footer {
  float: none;
  margin: 0;
  padding: 0;
}
.hack h1,
.hack p,
.hack ul,
.hack ol,
.hack blockquote {
  margin-top: 20px;
  margin-bottom: 20px;
}
.hack h1 {
  position: relative;
  display: inline-block;
  display: table-cell;
  padding: 20px 0 30px;
  margin: 0;
  overflow: hidden;
}
.hack h1:after {
  content: "====================================================================================================";
  position: absolute;
  bottom: 10px;
  left: 0;
}
.hack h1 + * {
  margin-top: 0;
}
.hack h2,
.hack h3,
.hack h4,
.hack h5,
.hack h6 {
  position: relative;
  margin-bottom: 1.75rem;
}

.hack h2:before,
.hack h3:before,
.hack h4:before,
.hack h5:before,
.hack h6:before {
  display: inline;
}
.hack h2:before {
  content: "## ";
}
.hack h3:before {
  content: "### ";
}
.hack h4:before {
  content: "#### ";
}
.hack h5:before {
  content: "##### ";
}
.hack h6:before {
  content: "###### ";
}
.hack li {
  position: relative;
  display: block;
  padding-left: 20px;
}
.hack li:after {
  position: absolute;
  top: 0;
  left: 0;
}
.hack ul > li:after {
  content: "-";
}
.hack ol {
  counter-reset: ol;
}
.hack ol > li:after {
  content: counter(ol) ".";
  counter-increment: ol;
}
.hack blockquote {
  position: relative;
  padding-left: 17px;
  padding-left: 2ch;
  overflow: hidden;
}
.hack blockquote:after {
  content: ">\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>";
  white-space: pre;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
}
.hack em:before,
.hack em:after {
  content: "*";
  display: inline;
}
.hack pre code:before,
.hack pre code:after {
  content: '';
}
.hack code {
  font-weight: 700;
}
.hack code:before,
.hack code:after {
  content: "`";
  display: inline;
}

.hack hr {
  position: relative;
  height: 20px;
  overflow: hidden;
  border: 0;
  margin: 20px 0;
}
.hack hr:after {
  content: "----------------------------------------------------------------------------------------------------";
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  width: 100%;
  word-wrap: break-word;
}
@-moz-document url-prefix() {
  .hack h1 {
    display: block;
  }
}
.hack-ones ol > li:after {
  content: "1.";
}
