html {
  font-size: 12px;
}

* {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
}

body {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  font-family: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
  word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

pre {
  padding: 2rem;
  margin: 1.75rem 0;
  background-color: white;
  border: 1px solid #ccc;
  overflow: auto;
}

pre code,
code[class*="language-"], pre[class*="language-"] {
  font-weight: 100;
  text-shadow: none;
  margin: 1.75rem 0;
}

a {
  cursor: pointer;
  color: #FF2E88;
  text-decoration: none;
  border-bottom: 1px solid #FF2E88;
}

a:hover {
  background-color: #FF2E88;
  color: white;
}
