@media screen and (max-width: 768px) {
  .form-group {
    & label {
      display: block;
      border-bottom: none;
      width: 100%;
    }
  }

  .form-group.form-textarea label:after {
    display: none;
  }

  textarea.form-control {
    border-left: none;
    padding: .5rem 0;
  }
}
