@media screen and (max-width: 768px) {
  .form-group {
    & label {
      display: block;
      border-bottom: none;
      width: 100%;
    }
  }

  .textarea {
    border-left: none;
    &:before {
      display: none;
    }
    & textarea.form-control {
      padding: 1rem 0;
    }
  }
}
