.standard {
  font-family: -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               helvetica, 'helvetica neue',
               Ubuntu,
               'segoe ui', arial,
               sans-serif;
}

.standard h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.67em 0;
}
.standard h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.83em 0;
}
.standard h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin: 1em 0;
}
.standard p {
  margin: 1em 0;
}
.standard ul,
.standard ol {
  display: block;
  list-style-type: disc;
  padding-left: 40px;
  margin: 1em 0;
}
.standard ol {
  list-style-type: decimal;
}
.standard li {
  display: list-item;
  padding-left: 0;
}
.standard blockquote {
  margin: 1em 0;
  padding-left: 10px;
  border-left: 5px solid #f0f0f0;
}
.standard pre {
  margin: 1em 0;
  white-space: pre;
}
