.main {
  padding: 20px 10px;
}

.hack h1 {
  padding-top: 0;
}

.example {
  margin-bottom: 20px;
}

.example .btn {
  margin-bottom: 10px;
}

footer.footer {
  border-top: 1px solid #ccc;
  margin-top: 5rem;
  padding: 3rem 0;
}

.grid-example {
  padding: 0 2px;
  background-color: #ccc;
  margin-bottom: 1rem;
}

.grid-example .cell {
  text-align: center;
  border: 1px solid #ccc;
  padding: 4px 2px;
  color: #999;
}

.grid-example .cell .content {
  background-color: #ddd;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background-color: transparent;
  font-weight: normal;
}
