.main {
  padding: 20px 10px;
}

.hack h1 {
  padding-top: 0;
}

.example {
  margin-bottom: 20px;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  padding: 2rem;
  margin: 1.75rem 0;
  background-color: white;
  border: 1px solid #ccc;
}
